<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../asset/image/logo.png" />
    <title>Support|RCC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
    href="../asset/css/styles.css">
</head>
  <body> 
    <div class="header">
    <div class="top-header">
    <div  class="logo-mob mobile">
        <div class="">
            <img src="../asset/image/logo.png" > 
        </div>
        <br>
    </div>
    <div  class="logo desktop">
        <div class="logo-base">
            <img src="../asset/image/logo.png" > 
        </div>
            <br>
            <div style="width:100%; color:white">
                <b>info@rcc.org.rw</b>
                <br>
                <b>Rwanda-Kigali KK403t</b>
            </div>
        </div>

        <div class="header-title ">   
            <h1 >Renouvaux Charsimatique Chatholique Rwanda(RCC)</h1>
        </div>

        <div class="head-time desktop">
            <span>
                   <b>Community Hours:</b><br>
                   <b> Mon to Fri:</b> 6 am to 12 pm, 5 - 8.00 pm<br>
                   <b>Sat and Sun:</b> 9 am to 8.30 pm.
            </span>
        </div>
    </div>
            
 <hr style="width:100%">
    </div>
    
    <div class="sticky" style="background-color:red"> 
    <span style="background-color:red">
        <nav class="fixed "  style=" width: 100%; padding:0 0 20px 0; float: right;background-color:white">
            <span style=" padding:0 30px 10px 0; float: right;background-color:white"> 
                    <a href="../index.php">HOMEPAGE</a>
                    <a href="./events.php">EVENTS</a>
                    <a href="./about.html">ABOUT US</a>
                    <a href="./support.html" style="color:red">SUPPORT US</a> 
                    <a href="./contact.html">CONTACT US</a>
                </span>
            </nav>
    </span> 
    </div>       
<br>
<br> 
    <h2 class="event"><div class="event-holder"> SUPPORT US</div></h2>
    <div class="about-card">
        <div class="support-card-row">
             <p>
                 <b>
                   Donate
                 </b>
             </p>
             <p>
                 <b>
                    RCC of Rwanda
                 </b>
             </p>
             <p>
                
               
                Donate here:-
                We don't heal in isolation, but in community…
                To keep a lamp burning we have to keep putting oil in it.
                <br>
                RCC of Rwanda: 
                <b>BK Account ------------ - Rwf</b>
                <br>
                RCC of Rwanda:
                <b>BK Account ------------- - USD</b>
                
             </p>
           
        </div>
     
    </div>
 
    <footer class="footer">
        <div class="footer-holder">
            Copyright 2021 RCC OF RWANDA
    </div>
    </footer>
    
    
</body>
</html>